<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="back-btn">
    <a href="/">⬅ Back To Home</a>
</div>

<h1 class="dashboard-title">Choose Your Journey</h1>

<div class="stats">
    <div class="stat-card">
        <h2>50+</h2>
        <p>Career Paths</p>
    </div>

    <div class="stat-card">
        <h2>100+</h2>
        <p>Projects</p>
    </div>

    <div class="stat-card">
        <h2>200+</h2>
        <p>Learning Resources</p>
    </div>

    <div class="stat-card">
        <h2>1000+</h2>
        <p>Students Guided</p>
    </div>
</div>

<div class="feature-grid">

    <a href="/resume" class="feature-card">
        📄
        <h3>Resume Builder</h3>
    </a>

    <a href="/certificates" class="feature-card">
        🎓
        <h3>Certificates</h3>
    </a>

    <a href="/roadmaps" class="feature-card">
        🛣️
        <h3>Roadmaps</h3>
    </a>

    <a href="/jobs" class="feature-card">
        💼
        <h3>Latest Jobs</h3>
    </a>

    <a href="/skills" class="feature-card">
        📊
        <h3>Skill Gap Analyzer</h3>
    </a>

    <a href="/career" class="feature-card">
        🤖
        <h3>Career Recommendation</h3>
    </a>

</div>
<footer>
    <h3>Career Navigator</h3>
    <p>Helping Engineering Students Build Successful Careers.</p>

    <div class="footer-links">
        <a href="/">Home</a>
        <a href="/career">Career Paths</a>
        <a href="/roadmaps">Roadmaps</a>
        <a href="/jobs">Jobs</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>

    <p>
        © 2026 Career Navigator |
        Founder & Developer Korakoppula Anirudh
    </p>
</footer>