<!DOCTYPE html>
<html>
<head>
<title>Career Navigator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>

<div class="logo">
🎓 Career Navigator
</div>

<div class="menu">
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/dashboard">Career Paths</a>
</div>

</nav>

<section class="hero">

<h1>
Navigate Your Future
<br>
<span>From Confusion To Career Clarity.</span>
</h1>

<p>
Helping Engineering students navigate career choices,
develop skills and achieve professional goals.
</p>

<br>

<a href="/dashboard" class="primary-btn">
Start My Journey
</a>

</section>

</body>
</html>
<footer class="footer">
    <div class="footer-content">
        <h3>Career Navigator</h3>
        <p>Helping Engineering Students Build Successful Careers.</p>

        <div class="footer-links">
            <a href="/">Home</a>
            <a href="/dashboard">Career Paths</a>
            <a href="/roadmaps">Roadmaps</a>
            <a href="/jobs">Jobs</a>
        </div>

        <p class="copyright">
            © 2026 Career Navigator | Founder And Developer Korakoppula Anirudh
        </p>
    </div>
</footer>